.nav-item, .icode, .form-fill, .card-text, .footer, .modal-title, .modal-body, .modal-footer {
	font-family: 'Quicksand', sans-serif;
	color: black;
}

	#usapbtn {width:10rem}
	#usapbtn:hover .usap {display:none}
	#usapbtn:hover:before {content:"Come! Let's talk."}

.frontend, .card-title, .here, #thank {
	font-family: 'Rubik Mono One', sans-serif;
	color: black;
}

	#dm {width:6rem}
	#dm:hover .dm {display:none}
	#dm:hover:before {content:"Mail me!"}

/*.port {
	overflow: hidden;
}*/

.links {
	color: black;
}

.bootstrap {
	width: 2%;
}

.maps {
    width: 250px;
    display: block;
    margin: 0 auto;
}